.social_login_container {
  border: 0.5px solid #cdcdf7;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  cursor: pointer;

  .social_login_subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 22px;
      height: 22px;
    }
    span {
      padding-left: 10px;
      font-size: 14;
      font-family: semibold_inter;
    }
  }
}
