@font-face {
  font-family: regular_inter;
  src: url("../assets/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: semibold_inter;
  src: url("../assets/inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: medium_inter;
  src: url("../assets/inter/Inter-Medium.ttf");
}

@font-face {
  font-family: bold_inter;
  src: url("../assets/inter/Inter-Bold.ttf");
}

@font-face {
  font-family: light_inter;
  src: url("../assets/inter/Inter-Light.ttf");
}

// mixins
@mixin flexin($flex-position) {
  display: flex;
  justify-content: $flex-position;
  align-items: center;
}
